body{
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25,  Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge,  Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
  text-align:center;
  color:rgb(232,122,144);
  font-size: 60px;
}

.title{
  text-align:center;
}

#topdiv{
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(245,150,170);
  border-width: 1px;
  padding-left: 5px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

h2{
  color: PaleVioletRed;
  text-shadow: 5px 5px 5px pink;
}


 

